<div>
		<h3>id: {{data.id}}</h3>
		<h3>content: {{data.content}}</h3>
		<h3>completed: {{data.completed}}</h3>
		<h3>deleted: {{data.deleted}}</h3>
		<h3>user_id: {{data.user_id}}</h3>
					
</div>


<form action='/delete/{{data.id}}' method='POST'>
	<button>Delete</button>
</form>


<form action='/complete/{{data.id}}' method='POST'>
	<button>Completed</button>
</form>	